/* Styles */
body {
  background-color: #f8f8ff;
}

a {
  color: black;
  text-decoration: none;
}

a:focus {
  color: grey;
  text-decoration: none;
}

.black-square {
  background-color: #062e63;
  height: 40px;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
}

.app-item {
  height: 55px;
  background-color: #fff;
  border-bottom: 2px #f0fff0 solid;
  width: 100%;
}

.app-item-edi {
  height: 55px;
  background-color: lightyellow;
}

.bottom-btn {
  height: 60px;
  background-color: #f0fff0;
}

a#clear-comp {
  color: #195892;
}

.no-to-dos {
  color: #945047;
}

.normal-view {
  width: 100%;
}

#task-list {
  list-style: none;
}

#app-div {
  box-shadow: 0 4px 8px 0 #9ac79a, 0 6px 20px 0 #9ac79a;
  border: 1px #9ac79a solid;
}
